<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>swift_skyway.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2.0.51</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>634448F11C7E1403D7D62A8B02B7484DB6F07A98</string>
				<key>dateExpires</key>
				<string>2023/02/17</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>634448F11C7E1403D7D62A8B02B7484DB6F07A98</string>
						<key>dateExpires</key>
						<string>2023/02/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CommonKeyboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>282AX78984</string>
						<key>name</key>
						<string>mamoru onda</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>634448F11C7E1403D7D62A8B02B7484DB6F07A98</string>
						<key>dateExpires</key>
						<string>2023/02/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>282AX78984</string>
						<key>name</key>
						<string>mamoru onda</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>634448F11C7E1403D7D62A8B02B7484DB6F07A98</string>
						<key>dateExpires</key>
						<string>2023/02/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>282AX78984</string>
						<key>name</key>
						<string>mamoru onda</string>
					</dict>
					<key>versionNumber</key>
					<string>8.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>634448F11C7E1403D7D62A8B02B7484DB6F07A98</string>
						<key>dateExpires</key>
						<string>2023/02/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>282AX78984</string>
						<key>name</key>
						<string>mamoru onda</string>
					</dict>
					<key>versionNumber</key>
					<string>8.12.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>634448F11C7E1403D7D62A8B02B7484DB6F07A98</string>
						<key>dateExpires</key>
						<string>2023/02/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>282AX78984</string>
						<key>name</key>
						<string>mamoru onda</string>
					</dict>
					<key>versionNumber</key>
					<string>8.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>634448F11C7E1403D7D62A8B02B7484DB6F07A98</string>
						<key>dateExpires</key>
						<string>2023/02/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseDatabase.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>282AX78984</string>
						<key>name</key>
						<string>mamoru onda</string>
					</dict>
					<key>versionNumber</key>
					<string>8.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>634448F11C7E1403D7D62A8B02B7484DB6F07A98</string>
						<key>dateExpires</key>
						<string>2023/02/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>282AX78984</string>
						<key>name</key>
						<string>mamoru onda</string>
					</dict>
					<key>versionNumber</key>
					<string>8.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>634448F11C7E1403D7D62A8B02B7484DB6F07A98</string>
						<key>dateExpires</key>
						<string>2023/02/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>282AX78984</string>
						<key>name</key>
						<string>mamoru onda</string>
					</dict>
					<key>versionNumber</key>
					<string>8.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>634448F11C7E1403D7D62A8B02B7484DB6F07A98</string>
						<key>dateExpires</key>
						<string>2023/02/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>282AX78984</string>
						<key>name</key>
						<string>mamoru onda</string>
					</dict>
					<key>versionNumber</key>
					<string>8.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>634448F11C7E1403D7D62A8B02B7484DB6F07A98</string>
						<key>dateExpires</key>
						<string>2023/02/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>282AX78984</string>
						<key>name</key>
						<string>mamoru onda</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>634448F11C7E1403D7D62A8B02B7484DB6F07A98</string>
						<key>dateExpires</key>
						<string>2023/02/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>282AX78984</string>
						<key>name</key>
						<string>mamoru onda</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>634448F11C7E1403D7D62A8B02B7484DB6F07A98</string>
						<key>dateExpires</key>
						<string>2023/02/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>282AX78984</string>
						<key>name</key>
						<string>mamoru onda</string>
					</dict>
					<key>versionNumber</key>
					<string>7.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>634448F11C7E1403D7D62A8B02B7484DB6F07A98</string>
						<key>dateExpires</key>
						<string>2023/02/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LineSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>282AX78984</string>
						<key>name</key>
						<string>mamoru onda</string>
					</dict>
					<key>versionNumber</key>
					<string>5.8.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>634448F11C7E1403D7D62A8B02B7484DB6F07A98</string>
						<key>dateExpires</key>
						<string>2023/02/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Onboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>282AX78984</string>
						<key>name</key>
						<string>mamoru onda</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>634448F11C7E1403D7D62A8B02B7484DB6F07A98</string>
						<key>dateExpires</key>
						<string>2023/02/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PINCache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>282AX78984</string>
						<key>name</key>
						<string>mamoru onda</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>634448F11C7E1403D7D62A8B02B7484DB6F07A98</string>
						<key>dateExpires</key>
						<string>2023/02/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PINOperation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>282AX78984</string>
						<key>name</key>
						<string>mamoru onda</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>634448F11C7E1403D7D62A8B02B7484DB6F07A98</string>
						<key>dateExpires</key>
						<string>2023/02/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PINRemoteImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>282AX78984</string>
						<key>name</key>
						<string>mamoru onda</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>634448F11C7E1403D7D62A8B02B7484DB6F07A98</string>
						<key>dateExpires</key>
						<string>2023/02/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>282AX78984</string>
						<key>name</key>
						<string>mamoru onda</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>634448F11C7E1403D7D62A8B02B7484DB6F07A98</string>
						<key>dateExpires</key>
						<string>2023/02/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReverseExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>282AX78984</string>
						<key>name</key>
						<string>mamoru onda</string>
					</dict>
					<key>versionNumber</key>
					<string>0.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>634448F11C7E1403D7D62A8B02B7484DB6F07A98</string>
						<key>dateExpires</key>
						<string>2023/02/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SkyWay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>282AX78984</string>
						<key>name</key>
						<string>mamoru onda</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>634448F11C7E1403D7D62A8B02B7484DB6F07A98</string>
						<key>dateExpires</key>
						<string>2023/02/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>282AX78984</string>
						<key>name</key>
						<string>mamoru onda</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>634448F11C7E1403D7D62A8B02B7484DB6F07A98</string>
						<key>dateExpires</key>
						<string>2023/02/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>XLPagerTabStrip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>282AX78984</string>
						<key>name</key>
						<string>mamoru onda</string>
					</dict>
					<key>versionNumber</key>
					<string>8.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>634448F11C7E1403D7D62A8B02B7484DB6F07A98</string>
						<key>dateExpires</key>
						<string>2023/02/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>282AX78984</string>
						<key>name</key>
						<string>mamoru onda</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>634448F11C7E1403D7D62A8B02B7484DB6F07A98</string>
						<key>dateExpires</key>
						<string>2023/02/17</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>282AX78984</string>
						<key>name</key>
						<string>mamoru onda</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>282AX78984.jp.monopol.p2p</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>282AX78984</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>swift_skyway.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d77fbc61-41d6-4a55-9f72-6628a21f1f47</string>
				<key>dateExpires</key>
				<string>2023/02/17</string>
				<key>name</key>
				<string>distProfile20220518</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>282AX78984</string>
				<key>name</key>
				<string>mamoru onda</string>
			</dict>
			<key>versionNumber</key>
			<string>2.0.51</string>
		</dict>
	</array>
</dict>
</plist>
